# Introduction to PANDAS:

In [1]:
import pandas as pd

# Series

In [2]:
se = ('Dev',21,True,12.3)
type(se)

tuple

In [3]:
se = pd.Series(se)
type(se)

pandas.core.series.Series

In [4]:
se[0]

'Dev'

In [7]:
se[-1]

KeyError: -1

In [8]:
print(se)

0     Dev
1      21
2    True
3    12.3
dtype: object

In [9]:
se

0     Dev
1      21
2    True
3    12.3
dtype: object

In [13]:
Indexed_se = pd.Series(['Dev',21,True,12.3],index=['name','age','yes/no','Float'])

In [14]:
Indexed_se

name       Dev
age         21
yes/no    True
Float     12.3
dtype: object

In [19]:
Indexed_se1 = pd.Series(('Dev',21,True,12.3),index=['name','age','yes/no','Float'])

In [20]:
Indexed_se1

name       Dev
age         21
yes/no    True
Float     12.3
dtype: object

In [23]:
Indexed_se1['name']

'Dev'

In [24]:
Indexed_se1[['name','age']]

name    Dev
age      21
dtype: object

# DATAFRAME:

->2D array
->contains two index (row & column)

In [25]:
df = {'Names':['Dev','Ravi','Mahesh'],
     'Age':[23,21,23],
     'Weight':[67.5,76.4,89.4]}
df

{'Names': ['Dev', 'Ravi', 'Mahesh'],
 'Age': [23, 21, 23],
 'Weight': [67.5, 76.4, 89.4]}

In [26]:
type(df)

dict

In [27]:
df = pd.DataFrame(df)
type(df)

pandas.core.frame.DataFrame

In [28]:
df

    Names  Age  Weight
0     Dev   23    67.5
1    Ravi   21    76.4
2  Mahesh   23    89.4

In [29]:
df['Names']

0       Dev
1      Ravi
2    Mahesh
Name: Names, dtype: object

In [30]:
df['names']

KeyError: 'names'

In [31]:
df = df.set_index(['Names'])
df

        Age  Weight
Names
Dev      23    67.5
Ravi     21    76.4
Mahesh   23    89.4

In [32]:
df.describe()

             Age     Weight
count   3.000000   3.000000
mean   22.333333  77.766667
std     1.154701  11.013779
min    21.000000  67.500000
25%    22.000000  71.950000
50%    23.000000  76.400000
75%    23.000000  82.900000
max    23.000000  89.400000